[Unit]
Description=Linktag Spring Boot Application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/linktag
ExecStart=/usr/bin/java -jar linktag.jar
SuccessExitStatus=143
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
